* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
    background-color: blue;
    min-height: 500px;
    border: 1px solid black;
    
} 

/* HEADER */

.page-header {
    height: 100px;
    background-color: orange;
}

/* FOOTER */

.page-footer {
    height: 100px;
    background-color: black;
}